[user]
	name = sinmetal
	email = sinmetal@sinmetalcraft.jp
	signingkey = 879612B91BFB3579
[core]
	excludesfile = /Users/sinmetal/.gitignore_global
	precomposeunicode = true
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
        ui = auto
[help]
        autocorrect = 1
[alias]
	gofmt = !echo $(git diff --cached --name-only --diff-filter=ACM | grep .go) | xargs gofmt -w -l | xargs git add
[commit]
	gpgsign = true
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[url "https://d9bb739989d5023e447f6a49776177b2fd8f5346:x-oauth-basic@github.com/"]
	insteadOf = https://github.com/
