[user]
	name = Shingo Ishimura
	email = shingo.ishimura@topgate.co.jp
[core]
	excludesfile = /Users/shingoishimura/.gitignore_global
	precomposeunicode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
        ui = auto
[help]
        autocorrect = 1
