[user]
	name = Shingo Ishimura
	email = metal.tie@gmail.com
[core]
	excludesfile = /Users/sinmetal/.gitignore_global
	precomposeunicode = true
	editor = subl -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
        ui = auto
[help]
        autocorrect = 1
[alias]
	gofmt = !echo $(git diff --cached --name-only --diff-filter=ACM | grep .go) | xargs gofmt -w -l | xargs git add
